.home-background{

    min-height:100vh;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ),
    url(../../images/home-background.png);
    color: white;

}
.title{

    font-family: Amazing Grotesk Light;
    font-size:77px
}

